BOT_TOKEN=8660891185:AAFKEVxowbunOWOp2sqcym981wETbs8K1Ww
BOT_USERNAME=@Paksimlookup_bot

ADMINS=6466290627

SUPPORT_USERNAME=@mf_rumi
SUPPORT_ID=123456789

DATABASE_PATH=storage/bot.db

DEFAULT_NEW_USER_COINS=1
REFERRAL_REWARD_COINS=1
SEARCH_COST_COINS=1

SEARCH_PROVIDER_ENABLED=true
SEARCH_PROVIDER_NAME=amscript_demo
SEARCH_PROVIDER_BASE_URL=https://amscript.xyz/PublicApi/Siminfo.php?number=
SEARCH_PROVIDER_TIMEOUT=15
